#web frameworks


fastapi
uvicorn
python-multipart

#langchain Ecosystem

langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai

#vector database
pinecone
faiss-cpu

#embeddings
sentence-transformers
langchain-huggingface
huggingface-hub


#pdf processing
PyMuPDF

#environment variables
python-dotenv

#typing &utilities
pydantic
requests
tqdm

#logging
loguru


