#web frameworks


fastapi
uvicorn
python-multipart
httpx
pyjwt[crypto]
#langchain Ecosystem

langchain
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-text-splitters

#vector database
pinecone

#embeddings

langchain-huggingface
huggingface-hub


#pdf processing
pypdf
pymupdf4llm

#environment variables
python-dotenv

#typing &utilities
pydantic
requests
tqdm

#logging
loguru

#supabase
supabase

slowapi

