#web frameworks


fastapi
uvicorn
python-multipart
httpx
#langchain Ecosystem

langchain
langchain-community
langchain-core
langchain-google-genai

#vector database
pinecone

#embeddings

langchain-huggingface
huggingface-hub


#pdf processing
PyPDF 

#environment variables
python-dotenv

#typing &utilities
pydantic
requests
tqdm

#logging
loguru


